<div class="ui cards stackable centered">
  <div class="card">
    <div class="image">
      <%= item_img_with_link "about_teacher_1", _class: "", without_link: true %>
    </div>
    <div class="content">
      <div class="header"><%= item_with_link "about_teacher_1", without_link: true %></div>
      <div class="meta">
        <a>Coworker</a>
      </div>
      <div class="description">
        Elyse is a copywriter working in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2014
      </span>
      <span>
        <i class="user icon"></i>
        151 Friends
      </span>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= item_img_with_link "about_teacher_img_2", _class: "", without_link: true %>
    </div>
    <div class="content">
      <div class="header"><%= item_with_link "about_teacher_name_2", without_link: true %></div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= item_img_with_link "about_teacher_img_3", _class: "", without_link: true %>
    </div>
    <div class="content">
      <div class="header"><%= item_with_link "about_teacher_name_3", without_link: true %></div>
      <div class="meta">
        <span class="date">Coworker</span>
      </div>
      <div class="description">
        Molly is a personal assistant living in Paris.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2011
      </span>
      <span>
        <i class="user icon"></i>
        35 Friends
      </span>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= item_img_with_link "about_teacher_img_4", _class: "", without_link: true %>
    </div>
    <div class="content">
      <div class="header"><%= item_with_link "about_teacher_name_4", without_link: true %></div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>
</div>
