<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header" id="admin_title"><%= item_with_link "admin_page_title" %></h3>
    <p><%= item_with_link "admin_page_text" %></p>
    <div class="ui divider"></div>
    <p>
      Greetings Administrator <%= current_user.name.capitalize %>,
    </p>
    <p>
      Here will be information about the website and it's source code, as well as more in depth administrative features if requested.
    </p>
    <div class="ui bulleted list">
      <div class="item">
        <%= link_to '<i class="fa fa-github-alt"></i> GitHub Repository (website source code)'.html_safe, "https://github.com/forrestwebco/simplr", target: :_blank %>
      </div>
      <div class="item">
        <%= link_to '<i class="fa fa-cloud"></i> Digital Ocean (your hosting provider)'.html_safe, "https://cloud.digitalocean.com/login", target: :_blank %>
      </div>
      <div class="item">
        <%= link_to '<i class="fa fa-sitemap"></i> GoDaddy (your domain name registrar)'.html_safe, "https://www.godaddy.com", target: :_blank %>
      </div>

      <div class="item">
        <div><%= link_to '<i class="fa fa-diamond"></i> Ruby on Rails (your web-app framework)'.html_safe, "https://rubyonrails.org", target: :_blank %></div>
        <div class="list">
          <div class="item">
            <%= link_to 'Guide to Rails (framework)'.html_safe, "https://guides.rubyonrails.org/getting_started.html", target: :_blank %>
          </div>
          <div class="item">
            <%= link_to 'Learning Ruby (language)'.html_safe, "https://www.codecademy.com/catalog/language/ruby", target: :_blank %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    setTimeout(scroll_to_form, 500);
  });

  function scroll_to_form() {
    var admin_title = $("#admin_title");

    $('html, body').animate({
      scrollTop: ($(admin_title).offset().top - 55)
    }, 500);
  }
</script>


<!-- work in progress... vvv -->
<%= render "app/scroll_to", id: :about_title if false %>
