<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header"><%= item_with_link "text_1_title" %></h3>
        <p><%= item_with_link "text_1" %></p>

        <h3 class="ui header"><%= item_with_link "text_2_title" %></h3>
        <p><%= item_with_link "text_2" %></p>

      </div>
      <div class="six wide right floated column">
        <%= item_img_with_link "dance_img_1" %>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button">Check Them Out</a>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3><%= item_with_link "quote_1_title" %></h3>
        <p><%= item_with_link "quote_1_text" %></p>
      </div>
      <div class="column">
        <h3><%= item_with_link "quote_2_title" %></h3>
        <p>
          <%= item_img_with_link "quote_2_img", class: "ui avatar image" %>
          <b><%= item_with_link "quote_2_name" %></b> <%= item_with_link "quote_2_whois" %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header"><%= item_with_link "text_3_title" %></h3>
    <p><%= item_with_link "text_3" %></p>
    <%= link_to "Read More", show_item_path("text_3"), class: "ui large button" %>
    <h4 class="ui horizontal header divider">
      <%= item_url_with_link "delimiter_1" %>
    </h4>
    <h3 class="ui header"><%= item_with_link "text_4_title" %></h3>
    <p><%= item_with_link "text_4" %></p>
    <%= link_to "I'm Still Quite Interested", show_item_path("text_4"), class: "ui large button" %>
  </div>
</div>
