<div class="top_line_fader"></div>
<div id="spacing_header"></div>

<%= render "arts/circle_menu" %>
<%= render "search/slide_menu" %>

<% unless @arts %>
  <%= link_to '<i class="fa fa-home fa-lg"></i>'.html_safe, root_url,
    class: :return_home_link, title: "Return home" unless @you_are_home %>

  <%= render "notes/slide_menu" %>
  <%= render "messages/nav_link" %>
  <%= render "users/current_avatar" %>
<% end %>

<i id="universal_anchor"></i>

<%= render "app/notices" %>
<%= render "app/click_anywhere?.js" %>
<%= audio_tag "effects/umbrella_1.wav", id: "nav_menu_sound" %>
